.timeline-container {
    width: 100%;
    padding:20px 20px 20px 40px;
    position: relative;
}
.timeline-wrapper:before {
    content: "";
    width: 4px;
    display: block;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 14px;
}
.timeline-wrapper {
    display: flex;
    flex: 1 1 100%;
    position: relative;
}
.timeline ul li a {
    color: #333;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.timeline .date:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #333;
    left: -33px;
    top: 4px;
    border-radius: 100%;
}
.timeline .date {
    margin: 10px 0;
    line-height: 24px;
    position: relative;
}
.timeline.item .position {
    font-weight: 700;
}
.title {
    font-size: 14px;
}
.description {
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0;
}
.timeline.item {
    margin-bottom: 50px;
}

.timeline.item .body {
    padding: 10px 30px 10px 10px;
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 3px 6px #00000030;
    margin: 4px;
}
.timeline.item .more {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline.item .projects li {
    font-size: 12px;
    margin: 0;
    line-height: 16px;
}
.timeline.item .projects {
    display: none;
}
.timeline.item .body.-open .projects {
    display: block;
}

.timeline .projects h4 {
    font-size: 14px;
    margin: 20px 0 10px 0;
}
.timeline-header {
    position: sticky;
    top: 10px;
}
.timeline.item .projects li:before {content: '#';margin-right: 15px;color: rebeccapurple;}

.projects ul {
    margin: 0 0 15px 0;
    list-style: none;
}
@media(min-width: 760px){
    .timeline-wrapper:before {
        left: 50%;
    }
    
    .timeline.item {
        width: 45%;
    }
    
    .timeline.item:nth-child(2n) {
        margin-left: 0;
    }
    
    .timeline-container {
        padding: 0;
    }
    
    .timeline.item {
     
        margin-left: auto;
    }
    .timeline .date{
        text-align:left;
    }
    .timeline .date:before {
        left: -37px;
    }
    .timeline.item:nth-child(2n) .date{
        text-align:right;
    }
    .timeline.item:nth-child(2n) .date:before {
        left: auto;
        right: -42px;
    }
}